@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";

@mixin buttonStyle(){
 border-radius: 3px;
 height: 36px;
 background-color: #FFF;
 border: 1px solid rgba(0, 0, 0, 0.15);
 border-bottom-color: rgba(0, 0, 0, 0.2);
 box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
// header{
//   width: 40px;

a{
  text-decoration: none;
}
.navhead{
  width: 960px;
  margin: 0 auto;
  height: 35px;

  form {
  margin-left: 61px;
  margin-top: -41px;
  float: left;}
input {
  height: 36px;
  }
button {
  border-radius: 3px;
  height: 36px;
  background-color: #3AA7C1;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-left: -5px;
  margin-right: 3px;
  color: white;
  font-size: 15px;
  width: 78px;
  }
}
.etsy{
  margin-left: -41px;
  font-size: 37px;
  margin-top: 21px;
  color: #F2581D;
}

.browse{

  // display: inline-block;
   width: 80px;

  margin-top: -41px;
  margin-left: 330px;
  margin-right: 10px;
    font-size: 14px;
  padding-top: 8px;
  position: relative;
  @include buttonStyle;
  a{
    text-decoration: none;
    padding: 6px;

  }
}
.browse:after {
 content: "▾";
 position: absolute;
 top: 9px;
 right: 7px;
 color: #B7B8B2;
}
.reg{
    margin-left: 184px;
    margin-top: -35px;

    img{
    border: 0;
    width: 22px;}
    h5  {
    color: #888888;
    font-weight: 500;
    margin-top: -1px;
    }
  }
.register{
  color: #39A4BE;

  margin-left: 700px;
  margin-top: -36px;
  button {
  background-color: white;
  color: #40A7C0;
  margin-left: 10px;
  width: 61px;
  border-color: #40A7C0;

  }

}

.Allcat{
    font-size: 13px;
    h5{
    font-size: 13px;
    }
  }


.Sortby{
  a{
    background-color: transparent;
  }
  li{
    display: inline-block;

  }
}
.content {
  @include outer-container;
  }
.outtercontent{
  background: #F5F5F1;
}

.collright{
    @include span-columns(9);

    margin-top: 7px;

  }
  .panelleftup{
    background-color: #FFFFFF;
    margin-top: 20px;
    width: 250px;
    h5{
      margin-left: 15px;
    }

  }
  .panelleftdown{
      margin-top: 10px;
      background-color: #FFFFFF;
    margin-top: 20px;
    width: 250px;
    h5{
      margin-left: 15px;
    }
  }
.colleft{
  @include span-columns(3);

    a{
    color: #0192B5;
     }
     ul{
  list-style-type: none;
  color: #0192B5;
  font-size: 14px;
  margin-left: -17px;
    }
    li{
      margin-top: 9px;
      }


    }


.radios{
    font-size: 15px;
    margin-left: 15px;
  font-size: 14px;
  margin-right: 155px;
    h5{
      margin-left: 150px;
    }
}

.pd2 input{
  border-radius: 3px;
 height: 36px;
 background-color: #FFF;
 border: 1px solid rgba(0, 0, 0, 0.15);
 border-bottom-color: rgba(0, 0, 0, 0.2);
 box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
 width: 70px;
 margin-left: 15px;

}
.to{
  display: inline-block;
}
.epcolor{
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  height: 22px;
  width: 22px;
  padding: 1px;
  overflow: hidden;
  background-color: black;

}

.maine{
  @include outer-container;
  font-size: 12px;


}
.etitle{
  color: #555;
  font-size: 12px;
  margin-bottom: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 6px;
  margin-right: 6px;
}
.eprice{
  color: #7ABE4A;
  float: right;
  padding-left: 0px;
  margin-right: 7px;
}
.eseller{

  font-size: 12px;
  margin-bottom: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  color: #b2b2b2;
  margin-left: 6px;
}
.epic1{
  border-radius: 3px;
 background-color: #FFF;
 border: 1px solid rgba(0, 0, 0, 0.15);
 border-bottom-color: rgba(0, 0, 0, 0.2);
 box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

  padding-right: 14px;
  padding-left: 4px;
  padding-top: 4px;
    padding-bottom: 1px;

  position: absolute;
  top: 5px;
  right: 5px;
  img{
  width: 14px;
  }
}
.epic1:after {
 content: "▾";
 position: absolute;
 top: 2px;
 right: 3px;
 color: #B7B8B2;
}
.epic2{
  border-radius: 3px;
 background-color: #FFF;
 border: 1px solid rgba(0, 0, 0, 0.15);
 border-bottom-color: rgba(0, 0, 0, 0.2);
 box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  padding-right: 5px;
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 1px;
  position: absolute;
  top: 5px;
  right: 43px;
  img{
  width: 14px;
  }
}

.everything{
  @include span-columns(3);
  @include omega(3n);
  background-color: #FFFFFF;
  width: 225px;
  margin-right: 21px;
  margin-top: 15px;
  margin-bottom: 6px;
  display: inline-block;
  position: relative;
  span{
    z-index: -1;
  }
}
.everything:hover span{
  z-index: 100;
}


  .epic{
    width: 225px;
  }
